/* stylesheet */

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500&subset=japanese');

body {
  background-image: url('wood.jpg');
  background-size: 15% auto;
  font-family: 'M PLUS Rounded 1c';
  color: #FFFFFF;
}

.c1 {
  color: #228B22;
}
